/**
 * Section (objects/_section.scss)
 */

/* ----- General ----- */
.section {
	padding: 2.25rem 0 (2.25rem - 1.25rem) 0; //defaults were approx. 1.45rem higher on top & bottom margin.

	@media (min-width: $screen-sm-min) {
		padding: 4.75rem 0 (4.75rem - 1.25rem) 0;
	}
}

/* ----- Variations ----- */
.section--darker-theme-color-bg {
	background-color: darken($color-theme-blue, 3%);
}

.section--grey {
	background-color: $color-section-grey;
}
